<div class="blog-container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<div class="blog">
				
				{{#each data.posts.results}}
				
					<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
						<h2><a class="blogpost-title" href="{{postUrl slug}}">{{{title}}}</a></h2>
						<p class="lead text-muted">
								{{#if author.name.first}}{{author.name.first}}{{/if}}{{#if author.name.last}}<span> </span>{{author.name.last}}{{/if}}
						</p>
						<p>{{{content.full}}}</p>
						<p class="categories">{{{categoryList categories}}}</p>
						<p><a class="read-more" href="{{postUrl slug}}">Read more...</a></p>
						<hr>
						<p class="text-muted"><span data-livestamp="{{publishedDate}}"></span></p>
					</div>
				
				{{/each}}
				
			</div>
		</div>
		<div class="col-sm-4 col-md-2">
			<h4 style="color:white">Filter by:</h4>
			<div style="margin-top: 40px;" class="list-group">
				<a href="/blog" {{#if category}}class="false list-group-item"{{else}}class="active list-group-item"{{/if}}>All Categories</a>
				{{#each data.categories }}
				<a href="{{categoryUrl key}}" {{#ifeq ../category key}}class="active list-group-item"{{else}}{{/ifeq}} class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>
	</div>
	{{>pagination}}
</div>
