<div class="blog-container">
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<article>
				<div class="post">
					<h2 class="blogpost-title">{{data.post.title}}</h2>
					<p class="lead text-muted">
						{{#if data.post.author.name.first}}{{data.post.author.name.first}}{{/if}}{{#if data.post.author.name.last}}<span> </span>{{data.post.author.name.last}}{{/if}}
					</p>
					{{{data.post.content.extended}}}
					<p class="categories">{{{categoryList data.post.categories}}}</p>
					<p><a class="go-back" href="/blog">&larr; back to the blog</a></p>
					<hr>
					<p class="text-muted"><span data-livestamp="{{data.post.publishedDate}}"></span></p>
				</div>
			</article>
		</div>
	</div>
</div>
