<div class="gallery-container">
	<!-- if projects -->
	{{#if projects}}
		{{#each projects}}
		<!--<h2>{{name}}</h2>-->
				{{#if mainImage}}
					{{#if link}}
						<div class="col-sm-4 col-md-5 mock-scrn"><a href="{{link}}"><div class="gallery-image" style="background-image:url({{cloudinaryUrl mainImage}})">
																	<!--desc here--><span class="project-desc">{{desc}}</span>
																</div></a>
							<!--title here-->{{name}}
						</div>
					{{else}}
				<div class="col-sm-4 col-md-5 mock-scrn">
					<div class="gallery-image" style="background-image:url({{cloudinaryUrl mainImage}})">
							<!--desc here--><span class="project-desc">{{desc}}</span>
					</div>
					<!--title here-->{{name}}
				</div>
					{{/if}}
				{{/if}}
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
</div>
