		<div id="tag-filterer">
				<a href="/works" {{#if data.tag.key}}class="false tag-item"{{else}}class="active tag-item"{{/if}}>All Projects</a>
				{{#each data.tags }}
				<a href="{{tagUrl key}}" {{#ifeq ../data.tag.key key}}class="active tag-item"{{else}}{{/ifeq}} class="false tag-item">{{name}}</a>
				{{/each}}
		</div>

<div class="gallery-container">
	<!-- if projects -->
	{{#if data.projects}}
		{{#each data.projects}}
		<!--<h2>{{name}}</h2>-->
				{{#if mainImage}}
					{{#if link}}
						<div class="col-sm-4 col-md-5 mock-scrn"><div><a href="{{link}}"><div class="gallery-image" style="background-image:url({{cloudinaryUrl mainImage}})">
																	<!--desc here--><span class="project-desc">{{{desc}}}</span>
																</div></a></div>
							<!--title here--><div class="project-title"><b style="font-size:1.1em;">{{name}} - </b><span class="tags">{{{categoryList tags prior="/works/"}}}</span></div>
						</div>
					{{else}}
				<div class="col-sm-4 col-md-5 mock-scrn">
					<div class="gallery-image" style="background-image:url({{cloudinaryUrl mainImage}})">
							<!--desc here--><span class="project-desc">{{{desc}}}</span>
					</div>
					<!--title here--><div class="project-title"><b style="font-size:1.1em;">{{name}} - </b><span class="tags">{{{categoryList tags prior="/works/"}}}</span></div>
				</div>
					{{/if}}
				{{/if}}
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">Couldn't find any projects.</h3>
	{{/if}}
</div>
