<div class="gallery-container">
	<!-- if projects -->
	{{#if data.projects}}
		{{#each data.projects}}
		<!--<h2>{{name}}</h2>-->
				{{#if mainImage}}
					{{#if link}}
						<div class="col-sm-4 col-md-5 mock-scrn"><div><a href="{{link}}"><div class="gallery-image" style="background-image:url({{cloudinaryUrl mainImage}})">
																	<!--desc here--><span class="project-desc">{{{desc}}}</span>
																</div></a></div>
							<!--title here--><div class="project-title"><b>{{name}}</b></div>
						</div>
					{{else}}
				<div class="col-sm-4 col-md-5 mock-scrn">
					<div class="gallery-image" style="background-image:url({{cloudinaryUrl mainImage}})">
							<!--desc here--><span class="project-desc">{{{desc}}}</span>
					</div>
					<!--title here--><div class="project-title"><b>{{name}} - {{tags}}</b></div>
				</div>
					{{/if}}
				{{/if}}
		{{/each}}
	{{#each data.tags}}
	<p>{{id}}</p>
	<p>{{key}}</p>
	{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">There are no image galleries yet.</h3>
	{{/if}}
</div>
